# Ignore Microsoft Excel temporary lock files
~$*.xlsx
~$*.xls

# Ignore Quartus support files
db/
incremental_db/
output_files/
simulation/
*.bak
*.txt
*.qip
*.qpf
*.qsf
*.qws

*.ini
*.bin
*.do
*_info
*.qdb
*.qpg
*.qtl
*_vmake
*transcript
*.ver
*.pyc
